{% extends 'accounts/base.html' %}
{% block main %}
<div style="max-width: 400px; margin: 50px auto; padding: 20px; border: 1px solid #ccc; border-radius: 10px;">
    <h3>Барқарор кардани парол</h3>
    <form method="POST">
        {% csrf_token %}
        <p>Email-и худро нависед:</p>
        <input type="email" name="email" required style="width: 100%; padding: 10px; margin-bottom: 10px;">
        <button type="submit" style="background: #3182ce; color: white; padding: 10px; width: 100%; border: none; border-radius: 5px;">Фиристодани Ссылка</button>
    </form>
</div>
{% endblock %}