 {% extends "accounts/base.html" %}
{% block main %}

 <h3> Register </h3>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label> <br>
        <input type="text" placeholder="enter ur username" name="username" required> <br> <br>
        <label for="email">Email</label> <br>
        <input type="email" placeholder="enter ur email" name="email" required> <br> <br>
        <label for="password1">password</label> <br>
        <input type="password" placeholder="enter ur password" name="password1" required> <br> <br>
        <label for="password2">Confirm password</label> <br>
        <input type="password" placeholder="confirm password" name="password2" required> <br> <br>
        <label for="phone">Enter ur phone</label> <br>
        <input type="text" placeholder="enter ur phone" name="phone" required> <br> <br>
        <label style="font-weight: bold; display: block; margin-bottom: 5px;">Шумо кистед?</label>
    
        <input type="radio" id="client" name="role" value="client" checked>
        <label for="client" style="margin-right: 15px;">Мизоҷ (User)</label>
    
        <input type="radio" id="master" name="role" value="master">
        <label for="master">Усто (Master)</label>
       
        <button type="submit"> Register</button>
        {% if error %}
            <p style="color: red;">{{error}}</p>
        {% endif %}
    </form>
    <div>
        <p><strong>Do u already have an account so </strong> <a href="{% url  'login'  %}">Sign in</a></p>
        <p><strong>YOu can confirm ur email here </strong> <a href="{% url  'confirm'  %}">Confirm</a></p>
    </div>
{% endblock  %}