{% extends 'accounts/base.html' %}

{% block main %}
<div class="order-container">
    
    <h2 class="order-title">Фармоиши хизматрасонӣ</h2>
    <p class="order-subtitle">
        Шумо хизматрасонии <strong>"{{ service.title }}"</strong>-ро аз усто <strong>{{ service.master.username }}</strong> фармоиш дода истодаед.
    </p>

    {% if error %}
        <div class="error-card">
            {{ error }}
        </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        
        <div class="form-block">
            <label class="field-label">Тавсифи кор / Мушкилии шумо:</label>
            <textarea name="description" class="input-textarea" rows="4" placeholder="Масалан: Кран вайрон шудааст, об чакида истодааст..." required></textarea>
        </div>

        <div class="form-block">
            <label class="field-label">Суроғаи шумо:</label>
            <input type="text" name="address" class="input-text" placeholder="Масалан: кӯчаи Рӯдакӣ 15, хонаи 10" required>
        </div>

        <div class="buttons-group">
            <a href="{% url 'service_detail' service.id %}" class="btn-order-cancel">
                Бекор кардан
            </a>
            <button type="submit" class="btn-order-submit">
                Тасдиқи заказ ✅
            </button>
        </div>
    </form>
</div>
{% endblock %}